# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment
.env

# Logs
logs/
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# Temporary files
backend/test_hash.py

# Node
node_modules/
dist/
build/

# Uploaded resumes
/backend/app/storage/resumes/*.pdf
/backend/app/storage/resumes/*.doc
/backend/app/storage/resumes/*.docx